.gameCol{
    background-color: rgb(0, 0, 0);
    position: relative;
    height: 500px;
}

.links{
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translatex(-50%)
}

.img-ios{
    height: 80px;
    width: 150px;
}

.img-android{
    height: 80px;
    width: 150px;
    padding-top: 9px;
    padding-bottom: 9px;
}