.gameCol{
    background-color: rgb(0, 0, 0);
    position: relative;
    height: 500px;
}

.links{
    position: absolute;
    bottom: 10%;
    left: 20%;
}

.link-container{
    display: inline-block;
    position: relative;
}
.get-ios{
    height: 80px;
    width: 150px;
}

.get-android{
    height: 80px;
    width: 200px;
}